@import "vars"

/*МЕНЮ*/
/******/
.block-container
    display: flex
    justify-content: space-between
    .block 
        width: 100%
        height: 100vh
        text-align: center
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        position: relative
        transform: scale(0.9)
        transition: all .7s
        &:hover 
            transform: scale(1)
            .menu-item
                span 
                    opacity: 1
                    margin-top: 10px
                .icon-wrap
                    background-color: rgba(#eb6d4a, .85)
            .overlay
                background-color: rgba(#1F2628, .15)
        .overlay
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(#1F2628, .75)
        .menu-item
            position: absolute
            top: 50%    
            width: 100%
            transform: translateY(-50%)
            .icon-wrap 
                border-radius: 50%
                background-color: rgba(255, 255, 255, .1)
                display: inline-block
                width: 80px
                height: 80px
                transition: all .7s ease
                .fa 
                    font-size: 36px
                    color: #fff
                    padding: 23px
            .img-wrap 
                border-radius: 50% 
                background-color: rgba(255, 255, 255, .1)
                display: inline-block
                width: 160px
                height: 160px
                img
                    width: 140px
                    height: 140px
                    padding-top: 23px
            h2 
                margin-top: 20px
            span
                font-weight: 300
                font-size: 13px
                color: #fff
                letter-spacing: 1px
                display: block
                margin-top: 50px
                opacity: 0
                transition: all .7s
                
                
/*СТРАНИЦА ABOUT*/
/****************/
.head-about
    background-color: #eb6d4a 
    .img-wrap
        border-radius: 50% 
        background-color: rgba(255, 255, 255, .1)
        display: inline-block
        width: 200px
        height: 200px
        img
            width: 180px
            height: 180px
        
.about 
    background-color: #F2F2F2
    padding: 90px 0    
    &-me    
        .name 
            font-weight: bold
            font-size: 70px
            text-transform: uppercase
            line-height: 1
            position: relative
            &::before 
                content: ''
                background-color: #333
                width: 130px
                height: 1px
                position: absolute
                bottom: -90px
                left: 0
        .special 
            font-weight: 300
            font-size: 19px
            margin-top: 50px
    &-resume 
        font-weight: 300
        font-size: 15px
        line-height: 1.7
        margin-top: 25px
        
.services 
    text-align: center
    padding: 90px 0
    color: #fff
    background-color: #EB6D4A
    .section-title
        margin-bottom: 70px
        h3 
            font-weight: bold
            font-size: 24px
            margin-top: 15px
    &-item 
        margin-bottom: 60px
        .icon-wrap 
            width: 60px
            height: 60px
            background-color: #fff
            border-radius: 50%
            border: none
            box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15)
            margin: 0 auto
            cursor: pointer
            transition: all .25s ease
            &:hover 
                box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.15)
            .fa 
                color: #ff6f6f
                font-size: 36px
                line-height: 60px
        h4 
            font-size: 16px
            margin-top: 25px
            margin-bottom: 30px
        p
            font-size: 14px
            font-weight: 300
            line-height: 24px
            
.time 
    background-color: #f2f2f2
    padding: 90px 0  
    text-align: center
    .fa 
        color: #333
        font-size: 54px
    p 
        font-weight: 300
        font-size: 18px
        margin-top: 15px
            
            
/*СТРАНИЦА PORTFOLIO*/
/********************/
.head-portfolio
    background-image: url(../img/menu1.jpg)          
    
.portfolio
    background-color: #f2f2f2
    padding: 90px 0 
    text-align: center
    .tabs  
        margin-bottom: 40px
        .tab 
            display: inline-block
            font-weight: 300
            font-size: 12px
            letter-spacing: 1px
            color: #333
            text-transform: uppercase
            background-color: transparent
            border: 1px solid #333    
            transition: all .3s ease
            padding: 10px 20px
            margin-right: 3px
            margin-bottom: 8px
            &:hover, &:focus 
                border-color: #EB6D4A
                color: #fff
                background-color: #EB6D4A
    &-item
        border: 5px solid #fff
        margin-bottom: 30px
        display: inline-block
        position: relative
        overflow: hidden
        &:hover 
            .overlay
                opacity: 1
        .overlay
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, .6)
            text-align: center
            opacity: 0
            transition: all .5s ease
            &-content
                position: absolute
                top: 50%
                transform: translateY(-50%)
                left: 34%
                font-weight: 300
                color: #fff
                font-size: 19px
                .fa 
                    color: #EB6D4A
                    font-size: 38px
                p 
                    display: inline-block
                    vertical-align: super
                    padding-left: 5px

        img 
            width: 340px
            height: 480px
        
            
/*СТРАНИЦА CONTACTS*/
/*******************/
.head-contacts
    background-image: url(../img/menu-5.jpg) 
    
.contacts
    padding: 90px 0
    background-color: #f2f2f2
    text-align: center
    .section-title
        margin-bottom: 40px
        h3 
            font-weight: bold
            font-size: 24px
            margin-top: 15px
            color: #333
    &-panel 
        background-color: #fff
        padding: 50px 10px
        border-radius: 3px
        .items
            display: inline-block
            text-align: left
        .contact-item
            .icon-wrap 
                display: inline-block
                width: 42px
                height: 42px
                border-radius: 50%
                text-align: center
                background-color: #EB6D4A
                border: 1px solid transparent
                a
                    display: block
                &:hover 
                    background-color: transparent 
                    border-color: #EB6D4A
                    .fa 
                        color: #EB6D4A
                .fa 
                    line-height: 39px
                    font-size: 18px
                    color: #fff
            p 
                display: inline-block
                padding-left: 15px
                font-size: 16px

/*УНИВЕРСАЛЬНАЯ ШАПКА*/
/*********************/       
.universal-header-pages
    text-align: center
    position: relative
    display: flex
    align-items: center
    height: 100vh
    width: 100%
    justify-content: center
    background-size: cover
    span
        font-weight: 300
        font-size: 13px
        color: #fff
        letter-spacing: 1px
        display: block
        margin-top: 10px
    .icon-wrap 
        border-radius: 50%
        background-color: rgba(255, 255, 255, .1)
        display: inline-block
        width: 80px
        height: 80px
        transition: all .7s ease
        .fa 
            font-size: 36px
            color: #fff
            padding: 23px
    h2 
        margin-top: 20px
    .btn-bottom
        z-index: 10
        display: block
        position: absolute
        text-align: center
        bottom: 40px
        transition: all .5s ease
        &:hover 
            .fa 
                font-size: 55px
                opacity: .5
        .fa
            font-size: 50px 
            color: #fff
            transition: all .2s ease
            display: inline-block
    .btn-close 
        position: fixed
        z-index: 10 
        display: block
        right: 50px 
        top: 30px
        &:hover 
            .fa 
                font-size: 45px
                color: #404148
        .fa 
            display: inline-block
            font-size: 40px
            color: #ddd
            transition: all .2s ease 
            

.main-foot
    background-color: #fff
    padding: 22px 0
    color: #b1b1b1
    font-size: 12px
    .name 
        font-size: 13px 
        text-transform: uppercase
        color: #333
        font-weight: bold
        transition: all .25s ease
        margin-right: 40px
        position: relative
        &:hover, &:focus 
            color: #EB6D4A
        &::after
            content: ''
            position: absolute
            width: 1px
            height: 85%
            background-color: #666
            margin-left: 23px
            margin-top: 1px
    p
        display: inline-block
        padding: 0
        margin: 0
    
.btn 
    background-color: transparent
    border: 1px solid #fff
    padding: 13px 20px
    display: inline-block
    font-weight: 300
    text-transform: uppercase
    font-size: 13px
    color: #fff
    transition: all .3s ease
    &:hover 
        color: #333
        background-color: #fff
    
    
.mfp-container
    padding: 0
    
.mfp-content 
    width: 100%
    
img.mfp-img
    width: 100%
    height: auto
    display: block
    padding: 0
    max-height: none  !important
    

.mfp-figure button.mfp-close 
	background-color: tomato
	height: 50px
	padding: 0
	position: fixed
	right: 35px
	text-align: center
	width: 50px
    margin-top: 65px

	
