@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.navbar 
        background-color: #fff
        &-menu 
            display: none
            width: 100%
            padding-top: 20px
            padding-bottom: 20px
            height: 100%
            ul 
                width: 100%
                display: block
                li 
                    &:last-child 
                        border-bottom: 1px solid $main-color
                    text-align: center
                    display: block
                    float: left 
                    width: 100%
                    margin-left: 0
                    &.active, &:hover 
                        a::after 
                            display: none
                    a 
                        border-top: 1px solid $main-color
                        padding: 8px 0
                        
                    
        &-logo 
            width: 100%
        .toggle-menu 
            display: block


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

@media only screen and (min-width : 769px)
    .navbar 
        &-menu 
            display: block !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

